# Ignore Gradle project-specific cache directory
.gradle
gradlew
gradlew.bat
gradle/

# Ignore Gradle build output directory
build

# Ignore Maven target directory
target/

src/main/java/tempCodeRunnerFile.java

dk uninstall gradle 8.10.2
